In [15]:
# Get more out of Jupyter Notebooks
# https://towardsdatascience.com/bringing-the-best-out-of-jupyter-notebooks-for-data-science-f0871519ca29

import jupyterthemes
# list the Jupyter themes
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [13]:
# https://towardsdatascience.com/bringing-the-best-out-of-jupyter-notebooks-for-data-science-f0871519ca29
# selecting a particular theme
# jt -t <name of the theme>
# reverting to original Theme
# jt -r

# Just use a '!' upfront if you want to change the theme w/in Jupyter Notebooks


# !jt -t onedork

!jt -t chesterish

In [105]:
# magic and shell commands -> 
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# use %ls to get the directory
# %ls
# print working directory
# %pwd

'C:\\Users\\jpkee\\Desktop\\PythonProjects'

Here I'm just  concepts from my Udemy course (Master Data Analysis with Python - Intro to Pandas)

Code cells will have the word **Code** in that same menu. 

Also, all code cells will have the word **`In`** displayed directly to the left of the cell and a number inside of brackets denoting its order of execution. 

If there is no number inside the brackets, then the code cell has yet to be executed. 

If the cell has been executed, the result will be displayed directly below with the word **`Out`** directly to the left. 

Some code cells do not output anything upon execution and will not have an **`Out`** section.

In [16]:
# create a list
thisList = ["apple", "bananas", "pear", "zucch", "asxxxd", "zzzzd", "sssss"]

In [6]:
print(thisList)

['apple', 'bananas', 'pear', 'zucch', 'asxxxd', 'zzzzd', 'sssss']

In [17]:
# index the list, remember indexing and slicing are the 2 constructs for pulling data 
# out of sequence-like types (lists, tuples, and even strings)
print(thisList[2])

# Slicing example
print(thisList[2:4])

pear
['pear', 'zucch']

In [19]:
#tuple
# remember tuples are immutable, which means once defined you cannot edit
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [22]:
#a for loop example
for a in thisList:
    print(["this will print the same number of times as there are list elements in thisList"])

['this will print the same number of times as there are list elements in thisList']
['this will print the same number of times as there are list elements in thisList']
['this will print the same number of times as there are list elements in thisList']
['this will print the same number of times as there are list elements in thisList']
['this will print the same number of times as there are list elements in thisList']
['this will print the same number of times as there are list elements in thisList']
['this will print the same number of times as there are list elements in thisList']

In [30]:
# another for loop example
for x in thisList:
    print("here is an element's nth character: " + x[0] +  ', and the nth element is: ' + x[3])

here is an element's nth character: a, and the nth element is: l
here is an element's nth character: b, and the nth element is: a
here is an element's nth character: p, and the nth element is: r
here is an element's nth character: z, and the nth element is: c
here is an element's nth character: a, and the nth element is: x
here is an element's nth character: z, and the nth element is: z
here is an element's nth character: s, and the nth element is: s

In [32]:
# len(thisList)
len(thistuple)

3

In [134]:
# Length function
# From <http://stackoverflow.com/questions/4130027/python-count-elements-in-list> 
# len() 
# it will count the element in the list, tuple and string and dictionary, eg.
mylist = [1,2,3]
len(mylist)

3

In [12]:
# other length examples
>>> word = 'hello' # string 
>>> len(word)
5
>>> vals = {'a':1,'b':2} #dictionary
>>> len(vals)
2
>>> tup = (4,5,6) # tuple 
>>> len(tup)
3

3

In [ ]:
# Decorators
# http://stackoverflow.com/questions/739654/how-to-make-a-chain-of-function-decorators/1594484#1594484
# There is also one for generators

**Sorting**
* sort() vs sorted()
    * sort() 
        * changes the list directly and doesn't return any value
    * sorted() 
        * doesn't change the list and returns the sorted list

In [33]:
sortedS = sorted(thisList)
print(sortedS)

['apple', 'asxxxd', 'bananas', 'pear', 'sssss', 'zucch', 'zzzzd']

In [34]:
sorted(thisList, reverse=True)

['zzzzd', 'zucch', 'sssss', 'pear', 'bananas', 'asxxxd', 'apple']

In [138]:
# While loop example
# create a counter
currentValue = 1
# while something is happening
while currentValue <=5:
    # do something
    print(currentValue)
    # iterator
    currentValue +=1

1
2
3
4
5

In [8]:
# list comprehensions
# lots of power in a single line of code
# concise way to create lists
squares = [x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [139]:
# another list comprehension example
moreSquares = [y**2 for y in range(1,100)]

In [144]:
type(moreSquares)

list

In [140]:
print(moreSquares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [141]:
#now subset/index the list, grabbing up to but NOT including the 4th element, as it's exclusive 
print(moreSquares[:3])

[1, 4, 9]

In [142]:
# index from 85th element onward
print(moreSquares[85:])

[7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

**Generator Object**
* simple way of creating iterators
*

In [143]:
int_list = [-2, 3, 5, 6, -6]
# notice the parens!
print(x for x in int_list if x > 0)

<generator object <genexpr> at 0x0000017CD72B43C8>

In [145]:
type(int_list)

list

Generators vs List Comprehensions:
* https://code-maven.com/list-comprehension-vs-generator-expression

So generators are just like list comprehensions, but generators are lazy
   * list comprehension executes immediately and retuns a list
   * generator returns an object and can be iterated over
   * Similar to range and xrange -> https://www.geeksforgeeks.org/range-vs-xrange-python
   * list is bigger in memory
       * use print(sys.getsizeof(int_list))
           * see below
   * generator cannot be accessed by index
   * both are loopable
   
* l = [n*2 for n in range(1000)] # List comprehension
* g = (n*2 for n in range(1000))  # Generator expression

In [160]:
import sys
print(sys.getsizeof(int_list))
print(sys.getsizeof(str2))

104
51

In [159]:
str1 = "AB"
str2 = "34"

In [161]:
# another list comprehension
[x + y for y in str1 for x in str2]

['3A', '4A', '3B', '4B']

In [162]:
x = 123
print([y * 2 for y in x])
# this is correct, per the DataCamp skills practice, the correct answer WAS TypeError

TypeError: 'int' object is not iterable

In [163]:
superheroes = ['thor', 'hulk']
def to_upper(x):
    for i in x:
        yield i.upper()

In [167]:
# this will give me a generator object
# print(to_upper(superheroes))

In [168]:
x = [2, 4, 1, 5]
squares = {i: i**2 for i in x}
print(squares)

{2: 4, 4: 16, 1: 1, 5: 25}

**Crash Course in Python Exercises**
     * page 29

In [169]:
# Personal Message
# store  a person's name in a variable
personName = "JingleHeimer"
# print a message to that person
print("Hello" + " " + personName)

Hello JingleHeimer

In [170]:
# Names Cases 
# store a person's name in a variable
personName2 = "James Jingle der Heimer"
# print the person's nma in lowercase, uppercase and titlecase
print(personName2)

James Jingle der Heimer

In [2]:
# go thru these exercises and then write tests for them

In [171]:
print(personName2)

James Jingle der Heimer

In [172]:
# combining sentence with string and adding a method
print("Hello" + " " + personName2.title())

Hello James Jingle Der Heimer

In [173]:
# famous quote exercise, page 29
# “It does not matter how slowly you go as long as you do not stop.” Confucius
movtivatingQuote = ("Here is a famous quote from Confucious - " “It does not matter how slowly you go as long as you do not stop.”)“It does not matter how slowly you go as long as you do not stop.” Confucius")

SyntaxError: invalid character in identifier (<ipython-input-173-c27dd8afbbe0>, line 3)

In [175]:
motivatingQuote2 = ("Like confucious says - \"It does not matter how slowly you go as long as you do not stop.\"")
print(motivatingQuote2.title())

Like Confucious Says - "It Does Not Matter How Slowly You Go As Long As You Do Not Stop."

In [177]:
motivatingQuote3 = ("Like confucious says - \"It does not matter how slowly you go as long as you do not stop.\"")
print(motivatingQuote3.upper())

LIKE CONFUCIOUS SAYS - "IT DOES NOT MATTER HOW SLOWLY YOU GO AS LONG AS YOU DO NOT STOP."

In [178]:
# checking equivalence
if motivatingQuote2 == motivatingQuote3:
    print("yes, they are the same".lower())
else:
    print("the 2 quotes are different".upper())

yes, they are the same

In [179]:
# famous quote 2 exercise, page 29
famousPerson = "Confucious"
# print(famousPerson)
motivatingQuote4 = f"Like {famousPerson} says - \"It does not matter how slowly you go as long as you do not stop\""

In [180]:
print(motivatingQuote4)

Like Confucious says - "It does not matter how slowly you go as long as you do not stop"

In [183]:
# Stripping Names exercise, page 29
# store a persons name with and w/o whitespace

# first let's do new lines
# print('Sammy\'s balloon')
stripName = "    there are spaces here   "
# use rstrip, lstrip and strip to remove whitespace from 
# the right, left and entire string respectively
stripName.strip()

'there are spaces here'

In [195]:
# using character combinations "\t" and "\n"
tabPractice = "this\tis\t a\t tab\n and\n newline practice"
print(tabPractice)

this	is	 a	 tab
 and
 newline practice

In [198]:
# and more
newLinePractice = "this\n\tis"
print(newLinePractice)

this
	is

In [66]:
print(stripName)

    there are spaces here

In [199]:
# escaping quotes
print("What is the \"program\"")

What is the "program"

In [ ]:
# more string methods here: https://www.w3schools.com/python/python_ref_string.asp

In [202]:
# simple testing, here using 'isdigit'
txt = "3"
x = txt.isdigit()
print(x)

True

In [206]:
number5 = 5
number5

5

In [217]:
# practicing asserts
x = "hello"


# if condition returns True, then nothing happens:
assert x == "hello"

# if condition returns False, AssertionError is raised:
# assert x == "goodbye"

In [218]:
# now do an if/else example
x = 6
if x == 5:
    print("looks like X is equal to five yall")
else:
    print("we found a bug")

we found a bug

In [223]:
# assert_stmt ::= "assert" expression1 ["," expression2]
number = 5
assert number == 5

In [224]:
# from Crash Course, p 30 -> Numbers
# integers
# you can add/subtract/multiply and divide ints in Python
2 + 3

5

In [225]:
2/3

0.6666666666666666

In [13]:
2//3

0

In [14]:
2 * 3

6

In [15]:
2-3

-1

In [16]:
3 ** 4

81

In [18]:
27*3

81

In [19]:
# python also supports order of operation and,
# spacing has no effect
(3 * 3) + 35 -1

43

In [20]:
3*3

9

In [21]:
35-1

34

In [22]:
34 + 9

43

In [226]:
# floats # anything w a decimal
1.3 + 3.3

4.6

3 * .1

In [235]:
# and remember you will sometimes get an arbitrary number of 
# decimal places, and that happens in all languages, 
# you can round those and we'll worry about that later
equation = .2 + .1
print(equation)

0.30000000000000004

In [240]:
# Crash Course p. 31
# Avoiding Type Errors with the str() Function
            ####  TypeError: can only concatenate str (not "int") to str 
# let's say you want to use a variable's value w/in a function, this wont' work
age = 23
message = "Happy " + age + "rd Birthday"

TypeError: can only concatenate str (not "int") to str

Type Error: Python cannot recognize the kind of info you're using
* in the case above, Python knows the variable above for age could represent either the value 23 or the characters 2 and 3.
* When you use ints w/in strings, you need to tell Python to use the int as a string of characters

In [242]:
# So let's try again, calling age as a string
# aka wrapping the variable age in the string function, per Crash Course p. 32
message2 = "Happy " + str(age) + "rd Birthday!"

In [243]:
print(message2)

Happy 23rd Birthday!

In [244]:
# try it yourself
print(5 + 3)

8

In [245]:
poms = 4
pomsNeeded = "I need to get " + str(poms) + " Pomodoros today!"

In [246]:
pomsNeeded

'I need to get 4 Pomodoros today!'

**Crash Course in Python Exercises**
     * page 54
     * A Closer Look at Loops
         * one of the most common ways to code repetitive tasks

In [2]:
# Let's create a list
magicians = ['Presto Chango', 'Al Kazam', 'A. Cadabra']

In [6]:
print(magicians)

['Presto Chango', 'Al Kazam', 'A. Cadabra', 'Ball Thazar']

In [24]:
# so you can just use 'x' in here for your loop
# this for line tells Python to retrieve the first value form the list magicians
# and store it in the variable x, then retrieves the next value and stories it in x also
# code finishes when there are no more elements to pull from the list
for x in magicians:
    print(x)

# so the pattern is 
# for x in varible:
#     do whatever

Presto Chango
Al Kazam
A. Cadabra
Ball Thazar

In [5]:
# Let's ADD an element to our list
magicians.append("Ball Thazar")

In [8]:
# use pop to REMOVE an item by index
magicians.pop(3)

'Ball Thazar'

In [9]:
print(magicians)

['Presto Chango', 'Al Kazam', 'A. Cadabra']

In [ ]:
# But you don't always need to use a For loop, 
# try out enumerate
# https://medium.com/better-programming/stop-using-range-in-your-python-for-loops-53c04593f936

In [248]:
# compare/contrast more with for loop
scores = [54,67,48,99,27]
for i in range(len(scores)):
   print(i, scores[i])

0 54
1 67
2 48
3 99
4 27

**Python enumerate function**
    1. built-in function
    2. adds a counter to an iterable and returns it
        a. adds counter to an iterable and returns it (the enumerate object).
    3. loop over something with an automatic counter
    4. accepts and optional argument
        a. tells enumerate where to start the index
        b. ex ..(enumerate(my_list), 1):
    5. syntax
        a. for counter, value in enumerate(some list):
               print(counter, value)
        b. 'enumerate(iterable, start)'
    6. adds a counter as a key of the enumerate function

In [51]:
# enumerate example
my_enum_list = ['apple', 'banana', 'peach', 'pear']
# passing argument to start index at 1
for x, value in enumerate(my_enum_list, 1):
    print(x, value)

1 apple
2 banana
3 peach
4 pear

In [1]:
# another enumerate example
second_list = ['tire', 'lever', 'break', 'hub', 'hoop', 
               'chain', 'front derailleur', 'rear derailleur', 
               'cassette', 'seat post']

In [2]:
# negative indexing example
print(second_list[-1])

seat post

In [3]:
# so here I'm not giving an argument telling the enumeration to start, so we're starting at zero
for y, value in enumerate(second_list):
    print(y, value)

0 tire
1 lever
2 break
3 hub
4 hoop
5 chain
6 front derailleur
7 rear derailleur
8 cassette
9 seat post

In [64]:
# another example
test_scores = [55, 66, 56,76, 93, 45, 44, 88, 96, 22]

In [66]:
for t, score in enumerate(test_scores):
    print(t, score)

0 55
1 66
2 56
3 76
4 93
5 45
6 44
7 88
8 96
9 22

In [92]:
# get the mean of the test scores
import statistics as st
score_average = st.mean(test_scores)

In [93]:
print(score_average)

64.1

In [90]:
total = sum(test_scores)

TypeError: 'int' object is not callable

In [95]:
a = [2, 3, 5, 8]
sum(a)

TypeError: 'int' object is not callable

In [58]:
# don't forget about list comprehensions
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Enumerate vs For loop

**Python range function**
1. create a sequence of numbers
2. the sequence starts from zero
3. increments by 1
4. stops before a specific number
5. syntax - 'range(start, stop, step)'
    a. ex. x = range(0, 20, 2) 
    b. you can also use a negative step to count backwards
6. Used when you need to perform an action a specific number of times
7. commonly used with a for or while loop over lists strings etc
8. returns a range object

In [61]:
# range practice
# start on 3, go to 39 and step by 6
f = range(3, 39, 6)
for x in f:
    print(x)

3
9
15
21
27
33

In [60]:
for i in range(6):
    print(i, end = " ")
# the end = " " is just adding a space so that output is all on one row

0 1 2 3 4 5

In [96]:
# Python Program to 
# show range() basics 

# printing a number 
for i in range(10): 
	print(i, end =" ") 
print() 

# using range for iteration 
l = [10, 20, 30, 40] 
# the len here is telling the loop how long to run, aka 'run for as long as there are elements'
for i in range(len(l)): 
	print(l[i], end =" ") 
print() 

# performing sum of natural numbers
sum = 0
for i in range(1, 11): 
	sum = sum + i 
print("Sum of first 10 natural number :", sum)

0 1 2 3 4 5 6 7 8 9
10 20 30 40
Sum of first 10 natural number : 110

In [37]:
# another example of using range for iteration
ff = [11, 22, 33, 44, 55]
for g in range(len(ff)):
    print(ff[g])

11
22
33
44
55

In [98]:
# https://book.pythontips.com/en/latest/map_filter.html