**Here I'm drilling Python List Concepts** 

* Documentation
    * https://www.programiz.com/python-programming/methods/list/append
    *

In [2]:
# Sets have braces
thisSet = {"apple", "bananas", "pear"}

In [8]:
thisList = ["apple", "bananas", "pear"]
# print an element of the list
print(thisList[2])
# or just print it out in Jupyter Notebook like this, w/o the print statement
# thisList[2]

pear

In [4]:
print(thisList)

['apple', 'bananas', 'pear']

In [3]:
print(thisList[0])

apple

In [27]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin']

In [28]:
# add some elements with 'extend' Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen', 'Sandeep'])

In [29]:
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [30]:
baby_names.extend(['jomo', 'slomo'])
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep', 'jomo', 'slomo']

In [14]:
# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep', 'jomo', 'slomo']

In [19]:
# Find the position of an element with the index method 
position = baby_names.index('slomo')
print(position)

7

In [33]:
# print('Updated animals list: ', animals)
print('here is the updated list: ', baby_names)

here is the updated list:  ['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep', 'jomo', 'slomo']

In [36]:

removingSlomo = baby_names.pop(position)

In [38]:
print(removingSlomo)

slomo

In [39]:
#append
baby_names.append('new name')
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep', 'jomo', 'new name']

In [8]:
# Get Aliza's position w/in the list
position

1

In [9]:
# remove Aliza from the baby names list with the pop method

removingAliza = baby_names.pop(position)

In [10]:
baby_names

['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [ ]:
# Loops
# https://campus.datacamp.com/courses/data-types-for-data-science-in-python/fundamental-data-types?ex=3

# 1. Create an empty list called baby_names.

# 2. Use a for loop to iterate over each row of records appending the name, found in the fourth element of row, to baby_names.

# 3. Print each name in baby_names in alphabetical order. To do this:

# 4. Use the sorted() function as part of a for loop to iterate over the sorted names, printing each one

In [20]:
# Create the empty list: baby_names
baby_names = ['2011', 'FEMALE', 'HISPANIC', 'GERALDINE', '13', '75']

In [21]:
baby_names

['2011', 'FEMALE', 'HISPANIC', 'GERALDINE', '13', '75']

In [13]:
# Loop over records 
for baby_names in baby_names:
    # Add the name to the list
    baby_names.append(row[3])

AttributeError: 'str' object has no attribute 'append'

In [ ]:
# here is the answer
# Create the empty list: baby_names
baby_names = []

# Loop over records 
for row in records:
    # Add the name to the list
    baby_names.append(row[3])
    
# Sort the names in alphabetical order
for name in sorted(baby_names):
    # Print each name
    print(name)

In [15]:
# Tuples
# https://campus.datacamp.com/courses/data-types-for-data-science-in-python/fundamental-data-types?ex=4
# Easier to process
# immutable
# It is very common for tuples to be used to represent data from a database. 
# Tuples are indeed immutable and ordered. You'll be using them a lot in this course

In [16]:
# Zipping and unpacking

# 1. Use the zip() function to pair up girl_names and boy_names into a variable called pairs.
# 2. Use a for loop to loop through pairs, using enumerate() to keep track of your position. Unpack pairs into the variables idx and pair.
# 3. Inside the for loop:
# 4. Unpack pair into the variables girl_name and boy_name.
# 5. Print the rank, girl name, and boy name, in that order. The rank is contained in idx.
# # <><>


# and of course I can't run this because I don't have the titles

NameError: name 'girl_names' is not defined

In [ ]:
# Pair up the girl and boy names: pairs
# To create pairs, pass in girl_names and boy_names as arguments to zip().

pairs = zip(girl_names, boy_names)

# Iterate over pairs

# In your for loop, use the enumerate() function 
# with pairs as the argument and unpack it into the 
# variables idx (which keeps track of rank) and pair.
# Inside the for loop, unpack the tuple pair into 
# the variables girl_name and boy_name.


for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    
# To print the rank and names associated with each
# rank, pass in idx, girl_name, and boy_name to the provided print() function.
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

In [30]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

In [31]:
print(type(error))

<class 'tuple'>

In [32]:
print(type(normal))

<class 'str'>

In [33]:
# I'm here: https://campus.datacamp.com/courses/data-types-for-data-science-in-python/fundamental-data-types?ex=8

In [24]:
# Crash Course Book
# p. 37

bicycles = ['trek', 'norco', 'bianchi', 'huffy', 'kuwahara', 'diamond back', 'gt', 'specialized',  ]

In [25]:
bicycles

['trek',
 'norco',
 'bianchi',
 'huffy',
 'kuwahara',
 'diamond back',
 'gt',
 'specialized']

In [26]:
print(bicycles[3])

huffy

In [27]:
print(bicycles[4].upper())

KUWAHARA

In [28]:
print(bicycles)

['trek', 'norco', 'bianchi', 'huffy', 'kuwahara', 'diamond back', 'gt', 'specialized']

In [29]:
print(bicycles[5].title())

Diamond Back

In [30]:
print(bicycles[-1].title())

Specialized

In [34]:
# now use this in a message
print("my first bike was a " + bicycles[3].title() + ", it was awesome")

my first bike was a Huffy, it was awesome

In [35]:
print("my most recently purchased bike is a " + bicycles[0].title() + " Checkpoint. Full Carbon!")

my most recently purchased bike is a Trek Checkpoint. Full Carbon!

In [38]:
#modifying an element
bicycles[-3]='transition'

In [41]:
print(bicycles)

['trek', 'norco', 'bianchi', 'huffy', 'kuwahara', 'transition', 'gt', 'specialized']

In [42]:
# Adding elements
bicycles.append('quintana roo')

In [43]:
print(bicycles)

['trek', 'norco', 'bianchi', 'huffy', 'kuwahara', 'transition', 'gt', 'specialized', 'quintana roo']

In [46]:
# Insert elements
# include the position in the first argument
bicycles.insert(8, 'cannondale')

In [47]:
print(bicycles)

['trek', 'norco', 'bianchi', 'huffy', 'kuwahara', 'transition', 'gt', 'specialized', 'cannondale', 'new', 'quintana roo']

In [ ]:
# Continue at page 43 with the pop method