**Pandas Concepts and Drills**
* notes are from these places:
    * https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13981248#overview
* On 5/9 Ted posted this:

Ted Petrou
@TedPetrou
·
30m
They are both installable now, but not quite ready
* pip install dataframe_image
* pip install jupyter_to_medium

**Lists:**
* General purpose data structure
* not built for scientific computing
* ordered
* mutable
* dupes OK
* indexed
* Can store any object of any type
* Not optimized for tabular data analysis.
* What lacks, is a data structure that contains homogeneous data types for fast access and numerical computation. 
* uses [ ] 
* This data structure, usually referred to as an ‘array’ in most languages is provided by the NumPy third-part library
    * though since 3.3 Python does have the array, import array is fine for basics, "If all you're doing is creating arrays of simple data types and doing I/O, the array module will do just fine." per https://stackoverflow.com/questions/111983/python-array-versus-numpy-array

Pandas is built on NumPy (numerical Python)
* NumPy's primary data structure is an n-dimensional array, more powerful and performant than a Python list

**Dataframe**:  2-dimensional data structure, has rows & columns

**Series**: 1-dimensional data structure, has single column, 1-dimensional array

**What can I do with Pandas?**
 
* read
* filter
* aggregate
* dis-aggregate
* tidying/cleaning
* joining
* time series analysis
* viz!

Head method is very handy!
- gives first 5 rows of dataframe or series
- you can also jsut give a number ex .head(3), I think would be an example
- will be 60 rows w/o the head method by default

In [1]:
# read_csv function
# - very commonly used
# - can read

Keep going from here:
* https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13938192#content

**DataFrame and Series**
    * DataFrame - 2-dimensional data structure, looks like a table
    * Series - 1-dimensional, just a single column

In [2]:
import pandas as pd

bikes = pd.read_csv('C:/Users/jpkee/Desktop/PythonProjects/Master Data Analysis with Python - Intro to pandas/data/bikes.csv')

In [3]:
# calling bikes will create a DataFrame
# 60 rows and 20 columns is default

# use the head function to just get a bit
# again just use the shift/tab to show the documentation
bikes.head(4)

# and you can use head
bikes.tail()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50084,17534938,Subscriber,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,41.897448,-87.628722,27.0,Clark St & Elm St,41.902973,-87.631280,27.0,5.0,10.0,16.1,-9999.0,partlycloudy
50085,17534969,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),41.830661,-87.647172,16.0,Union Ave & Root St,41.819102,-87.643278,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

Columns, Index and Data are important concepts!

Index is really just the row

Axis number, 0 and 1

horizontal is 1

vertical is 0

In [4]:
# to verify that, in this case, bikes IS a dataframe, check it
type(bikes)

# and this is showing the data types of all the elements, right?
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html
# bikes.dtypes
        # dtypes is an *attribute*
# this is the fully qualified name
# package.subpackage.module(python file).type name
# pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [5]:
# select a single column, a SERIES
# only the index and the data called will actually result
# and the series metadata will display at the bottom, 'Name: tripduration, dtype: int64'

# bikes['gender']

td = bikes['tripduration']
td.head()

0     993
1     623
2    1040
3     667
4     130
Name: tripduration, dtype: int64

**Exercises!**

https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13981576#overview

In [6]:
# select the events column and weather

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
5    mostlycloudy
6          cloudy
7          cloudy
8          cloudy
9    mostlycloudy
Name: events, dtype: object

In [7]:
# what type of object is 'events'
type(weather)

pandas.core.series.Series

In [8]:
bikesLast2 = bikes.tail(2)

In [9]:
bikesLast2

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [10]:
type(bikesLast2)

pandas.core.frame.DataFrame

**Data Types and Missing Values**
* https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13938202#overview


* Most common:
    * boolean
    * integer
    * float
    * object(mainly strings)
    * datetime(a specific moment in time)
    
* Knowing the data type helps you learn what exactly can be done with it
* Every value in a column will have the same datatype
* dtypes will give you a series with the LABEL (NOT an index) and the datatype

**Missing Values**

    * NaN for floats, None, Nat (for datetime)
        * 3 different representations depending on data type
        * NaN stands of Not a Number
    * Missing value for integer
        * now NaN as of Pandas 0.24
    * boolean and integer
        * have NO missing value
        
Also, Pandas relies on NumPy to pull in the data types

In [11]:
# use the parse_dates 
# See here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
bikes = pd.read_csv('C:/Users/jpkee/Desktop/PythonProjects/Master Data Analysis with Python - Intro to pandas/data/bikes.csv', parse_dates=['starttime', 'stoptime'])

In [12]:
bikes.head(1)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.88105,-87.61697,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy

**Get more metadata:**

**shape** - rows and columsn

**size** - rows times columns, gets the total number of values 
 
**len** - get the number of rows

**info** - similar to dtypes, just printed to the screen

In [13]:
len(bikes)

50089

In [14]:
bikes.info()
# and if you need to print, you'd say
# print(bikes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  datetime64[ns]
 4   stoptime           50089 non-null  datetime64[ns]
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(2), object(5)
memory usage: 7.3+ MB

In [15]:
bikes.info

<bound method DataFrame.info of         trip_id    usertype  gender           starttime            stoptime  \
0          7147  Subscriber    Male 2013-06-28 19:01:00 2013-06-28 19:17:00
1          7524  Subscriber    Male 2013-06-28 22:53:00 2013-06-28 23:03:00
2         10927  Subscriber    Male 2013-06-30 14:43:00 2013-06-30 15:01:00
3         12907  Subscriber    Male 2013-07-01 10:05:00 2013-07-01 10:16:00
4         13168  Subscriber    Male 2013-07-01 11:16:00 2013-07-01 11:18:00
...         ...         ...     ...                 ...                 ...
50084  17534938  Subscriber    Male 2017-12-30 13:07:00 2017-12-30 13:34:00
50085  17534969  Subscriber    Male 2017-12-30 13:34:00 2017-12-30 13:44:00
50086  17534972  Subscriber    Male 2017-12-30 13:34:00 2017-12-30 13:48:00
50087  17535645  Subscriber  Female 2017-12-31 09:30:00 2017-12-31 09:33:00
50088  17536246  Subscriber    Male 2017-12-31 15:22:00 2017-12-31 15:26:00

       tripduration             from_station_name  latitude_start  \
0               993     Lake Shore Dr & Monroe St       41.881050
1               623  Clinton St & Washington Blvd       41.883380
2              1040  Sheffield Ave & Kingsbury St       41.909592
3               667       Carpenter St & Huron St       41.894556
4               130        Damen Ave & Pierce Ave       41.909396
...             ...                           ...             ...
50084          1625         State St & Pearson St       41.897448
50085           585      Halsted St & 35th St (*)       41.830661
50086           824      Kingsbury St & Kinzie St       41.889177
50087           178          Clinton St & Lake St       41.885637
50088           214    Clarendon Ave & Leland Ave       41.967968

       longitude_start  dpcapacity_start                to_station_name  \
0           -87.616970              11.0          Michigan Ave & Oak St
1           -87.641170              31.0           Wells St & Walton St
2           -87.653497              15.0        Dearborn St & Monroe St
3           -87.653449              19.0         Clark St & Randolph St
4           -87.677692              19.0         Damen Ave & Pierce Ave
...                ...               ...                            ...
50084       -87.628722              27.0              Clark St & Elm St
50085       -87.647172              16.0            Union Ave & Root St
50086       -87.638506              31.0  Halsted St & Blackhawk St (*)
50087       -87.641823              23.0       Kingsbury St & Kinzie St
50088       -87.650001              15.0     Clifton Ave & Lawrence Ave

       latitude_end  longitude_end  dpcapacity_end  temperature  visibility  \
0         41.900960     -87.623777            15.0         73.9        10.0
1         41.899930     -87.634430            19.0         69.1        10.0
2         41.881320     -87.629521            23.0         73.0        10.0
3         41.884576     -87.631890            31.0         72.0        10.0
4         41.909396     -87.677692            19.0         73.0        10.0
...             ...            ...             ...          ...         ...
50084     41.902973     -87.631280            27.0          5.0        10.0
50085     41.819102     -87.643278            11.0          5.0        10.0
50086     41.908537     -87.648627            20.0          5.0        10.0
50087     41.889177     -87.638506            31.0          7.0        10.0
50088     41.968812     -87.657659            15.0         10.9        10.0

       wind_speed  precipitation        events
0            12.7        -9999.0  mostlycloudy
1             6.9        -9999.0  partlycloudy
2            16.1        -9999.0  mostlycloudy
3            16.1        -9999.0  mostlycloudy
4            17.3        -9999.0  partlycloudy
...           ...            ...           ...
50084        16.1        -9999.0  partlycloudy
50085        16.1        -9999.0  partlycloudy
50086        16.1        -9999.0  partlycloudy
50087        11.5        -9999.0  partlycloudy
50088        15.0        -9999.0  partlycloudy

[50089 rows x 19 columns]>

In [16]:
# and a handy info method parameter
bikes.info(memory_usage = 'deep')
# deep will give us true memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  datetime64[ns]
 4   stoptime           50089 non-null  datetime64[ns]
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(2), object(5)
memory usage: 22.4 MB

**Exercises:**

1. what is the data type of dtype?
2. what type of object is returned from the shape attribute?
3. what type of object is returned from the info attribute?

In [21]:
type(bikes.dtypes)
# it's a series

pandas.core.series.Series

In [20]:
type(bikes.shape)
# tuple

tuple

In [22]:
# info?
type(bikes.info)

method

Next Section - https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13947512#overview