In [29]:
import pandas as pd 
# Read data from file 'filename.csv' 
nbaStats = pd.read_csv("NBA 2018-19 Season.csv") 
# Preview the first 5 lines of the loaded data 
nbaStats.head(1000)
# or we can get a sample of rows w this command
nbaStats.sample(5)

,Conference,Division,Team,Player,Age,Games,Games Started,Minutes Played,Field Goals,Field Goal Attempts,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
394,Western,Northwest,Minnesota Timberwolves,Derrick Rose,30,51,13,1392,363,753,...,0.856,33,107,140,220,31,12,82,57,917
63,Eastern,Atlantic,Philadelphia 76ers,Demetrius Jackson,24,6,0,39,8,15,...,1.000,2,1,3,5,2,0,1,4,22
478,Western,Pacific,Los Angeles Lakers,Alex Caruso,24,25,4,531,77,173,...,0.797,20,47,67,77,24,9,42,54,229
29,Eastern,Atlantic,Toronto Raptors,Jeremy Lin,30,23,3,433,58,155,...,0.810,6,54,60,50,9,6,26,48,161
230,Eastern,Southeast,Orlando Magic,Michael Carter-Williams,27,12,0,227,21,62,...,0.741,16,41,57,49,11,9,10,21,65

In [30]:
# now let's get the shape
nbaStats.shape

(622, 30)

In [31]:
# grab a couple columns
# per https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/
# the outer bracket frames tell pandas that you want to select columns, 
# and the inner brackets are for the list of the column names.
nbaStats[['Division', 'Team']]

      Division              Team
0     Atlantic    Boston Celtics
1     Atlantic    Boston Celtics
2     Atlantic    Boston Celtics
3     Atlantic    Boston Celtics
4     Atlantic    Boston Celtics
..         ...               ...
617  Southwest  Dallas Mavericks
618  Southwest  Dallas Mavericks
619  Southwest  Dallas Mavericks
620  Southwest  Dallas Mavericks
621  Southwest  Dallas Mavericks

[622 rows x 2 columns]

In [35]:
# https://www.marsja.se/pandas-sample-randomly-select-rows/
# now let's get a sample
# w/o a parameter we'll just get 1 row
nbaStats.sample()
# but let's get a sample of 10
nbaStats.sample(10)

,Conference,Division,Team,Player,Age,Games,Games Started,Minutes Played,Field Goals,Field Goal Attempts,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
504,Western,Pacific,Phoenix Suns,Tyler Johnson,26,13,12,406,46,125,...,0.872,15,37,52,54,14,6,14,25,144
495,Western,Pacific,Phoenix Suns,Jamal Crawford,38,64,0,1211,174,438,...,0.845,8,77,85,229,33,12,99,75,508
297,Eastern,Southeast,Atlanta Hawks,John Collins,21,61,59,1829,465,831,...,0.763,219,376,595,121,22,39,120,199,1188
69,Eastern,Atlantic,Brooklyn Nets,DeMarre Carroll,32,67,8,1703,227,575,...,0.760,68,281,349,85,31,10,73,114,744
327,Western,Northwest,Denver Nuggets,Isaiah Thomas,29,12,0,181,34,99,...,0.630,5,8,13,23,5,1,18,17,97
66,Eastern,Atlantic,Brooklyn Nets,Joe Harris,27,76,76,2293,374,748,...,0.827,52,239,291,181,38,17,121,182,1041
408,Western,Northwest,Minnesota Timberwolves,Mitch Creek,26,1,0,12,3,6,...,NaN,1,1,2,1,1,0,1,0,6
50,Eastern,Atlantic,Philadelphia 76ers,Jonah Bolden,23,44,10,639,80,162,...,0.481,47,118,165,40,17,39,36,99,207
538,Western,Southwest,San Antonio Spurs,LaMarcus Aldridge,33,81,81,2687,684,1319,...,0.847,251,493,744,194,43,107,144,179,1727
310,Eastern,Southeast,Atlanta Hawks,Miles Plumlee,30,18,0,173,32,48,...,0.533,16,23,39,17,6,4,10,14,80

In [33]:

#how to select an average from a column?