**Working thru Simon's SQL tutorials**
* https://www.youtube.com/watch?v=IrCowiKyyBA

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sql_query import sql_select
engine = create_engine('sqlite:///C:/Users/jpkee/Documents/My Tableau Repository/Datasources/F1_data-master/F1_data-master/Formula1.db')

In [2]:
# initialize a sql_select object

# sl  = SELECT
# fr = FROM 
# - parameter names can be omitted
qry = sql_select(
                sl=['driverId', 'forename', 'surname'],
                fr='drivers'
                    )

In [3]:
# @Simon, what should the type be here? I get 'sql_query.sql_query.sql_select' as a result

type(qry)

sql_query.sql_query.sql_select

In [4]:
# View the given attributes, grabbing the headers 
print(qry.sl)

['driverId', 'forename', 'surname']

In [5]:
# view the table
print(qry.fr)

drivers

In [6]:
# use the select method to ADD a field to our query
qry.select('nationality')

In [7]:
# Check that we are now getting back 'nationality' as well
print(qry.sl)

['nationality', 'surname', 'forename', 'driverId']

In [8]:
# change the fields, in this cas remove the previously provided fields
qry.select(['driverId', 'forename', 'surname'], clear = True)

In [9]:
# verify that we did indeed remove nationality
print(qry.sl)

['driverId', 'forename', 'surname']

In [10]:
# get your sql query as txt
print(qry)

SELECT driverId, forename, surname FROM drivers

In [11]:
## this is fun get the top rows with head function
data = pd.read_sql(str(qry), con=engine)

In [12]:
data.shape

(847, 3)

In [13]:
data.tail()

     driverId   forename   surname
842       844    Charles   Leclerc
843       845     Sergey  Sirotkin
844       846      Lando    Norris
845       847     George   Russell
846       848  Alexander     Albon