**Working thru Simon's SQL tutorials**
* https://www.youtube.com/watch?v=IrCowiKyyBA
* Docs are here: https://pypi.org/project/sql-queries/

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sql_query import sql_select
engine = create_engine('sqlite:///C:/Users/jpkee/Documents/My Tableau Repository/Datasources/F1_data-master/F1_data-master/Formula1.db')

In [4]:
# initialize a sql_select object

# sl  = SELECT
# fr = FROM 
# - parameter names can be omitted
qry = sql_select(
                sl=['driverId', 'forename', 'surname'],
                fr='drivers'
                    )

In [5]:
type(qry)

sql_query.sql_query.sql_select

In [6]:
# View the given attributes, grabbing the headers 
print(qry.sl)

['driverId', 'forename', 'surname']

In [7]:
# view the table
print(qry.fr)

drivers

In [8]:
# use the select method to ADD a field to our query
qry.select('nationality')

In [9]:
# Check that we are now getting back 'nationality' as well
print(qry.sl)

['nationality', 'surname', 'driverId', 'forename']

In [10]:
# change the fields, in this cas remove the previously provided fields
qry.select(['driverId', 'forename', 'surname'], clear = True)

In [11]:
# verify that we did indeed remove nationality
print(qry.sl)

['driverId', 'forename', 'surname']

In [12]:
# get your sql query as txt
print(qry)

SELECT driverId, forename, surname FROM drivers

In [13]:
## this is fun get the top rows with head function
data = pd.read_sql(str(qry), con=engine)

In [14]:
data.shape

(847, 3)

In [15]:
data.tail()

     driverId   forename   surname
842       844    Charles   Leclerc
843       845     Sergey  Sirotkin
844       846      Lando    Norris
845       847     George   Russell
846       848  Alexander     Albon

**Video #2**
* https://www.youtube.com/watch?v=l5_tcFaG0nM

In [16]:

# create a new select
s_qry = sql_select(['driverID', 'forename', 'surname'], 'drivers')
# more on sql_select here: https://programmer.spip.net/sql_select,655

In [17]:
# so basically here we are grabbing the columns and telling the query that 'drivers' is the table
 ## SELECT driverId, forename, surname FROM drivers, print it to confirm
print(s_qry)

SELECT driverID, forename, surname FROM drivers

In [18]:
# Basic Where statements
# use the .where method
# attribute is the field, cond is the value to search for in that field`
s_qry.where(attr="nationality", cond="Dutch")

In [19]:
print(s_qry)

SELECT driverID, forename, surname FROM drivers WHERE nationality = "Dutch"

In [20]:
# and here's the table for that query
data = pd.read_sql_query(str(s_qry), con=engine)
data.head()

   driverId    forename       surname
0        27  Christijan        Albers
1        38      Robert      Doornbos
2        50         Jos    Verstappen
3       136         Jan       Lammers
4       179        Huub  Rothengatter

In [21]:
# add a 2nd where statement
s_qry.where(attr="DriverId", cond=800, eq='<', d=True)
print(s_qry)

SELECT driverID, forename, surname FROM drivers WHERE nationality = "Dutch" AND NOT DriverId < 800

In [22]:
# now to get the table, call the dataframe
data = pd.read_sql_query(str(s_qry), con=engine)

In [23]:
data.head()

   driverId forename        surname
0       823    Giedo  van der Garde
1       830      Max     Verstappen

In [24]:
# Use a list as a condition

# first, clear all the filters
s_qry.where(clear=True)

# check it out
print(s_qry)

SELECT driverID, forename, surname FROM drivers

In [25]:
s_qry.where(attr="nationality", cond=["Dutch", "Belgian"])

In [26]:
print(s_qry)
# note that this will OR the parameters

SELECT driverID, forename, surname FROM drivers WHERE (nationality = "Dutch" OR nationality = "Belgian")

In [27]:
# now get the dataframe/table back
data = pd.read_sql_query(str(s_qry), con=engine)
data.head()

   driverId    forename     surname
0        27  Christijan      Albers
1        38      Robert    Doornbos
2        50         Jos  Verstappen
3        92    Bertrand      Gachot
4       113    Philippe       Adams

In [28]:
# # try a select all
# s_qry2 = sql_select("SELECT * FROM tasks", 'drivers')

**Video #3**
* https://www.youtube.com/watch?v=uu09SgA0xuc

In [29]:
# Group by and Having

# create a new select with a group by
# notice that you can use SQL aliases
s_qryV3 = sql_select( sl=['nationality', 'COUNT(driverId) as cnt'],
                    fr='drivers',
                    gb='nationality')

In [30]:
print(s_qryV3)

SELECT nationality, COUNT(driverId) as cnt FROM drivers GROUP BY nationality

In [31]:
dataV3 = pd.read_sql_query(str(s_qryV3), con=engine)

In [32]:
import seaborn as sns

In [33]:
# cm = sns.light_palette("red", as_cmap=True)

In [34]:
dataV3.style.background_gradient(cmap='viridis')

In [33]:
dataV3.head()

         nationality  cnt
0           American  157
1   American-Italian    1
2          Argentine   24
3  Argentine-Italian    1
4         Australian   17

In [35]:
dataV3.style.set_properties(**{'background-color': 'black',
                            'color': 'lawngreen',
                            'border-color': 'white'})

In [36]:
# # and per Video # 3, filter with .having method
# works the same as where
s_qryV3.having(attr='COUNT(driverId)', cond=100, eq='>')

In [37]:
print(s_qryV3)

SELECT nationality, COUNT(driverId) as cnt FROM drivers GROUP BY nationality HAVING COUNT(driverId) > 100

In [38]:
dataV3 = pd.read_sql_query(str(s_qryV3), con=engine)

In [39]:
dataV3.head()

  nationality  cnt
0    American  157
1     British  164

In [43]:
## try a select all later
# Per Simon,
# If you do sql_select('*', 'drivers') then it should work

# Basically the first parameter gets put behind SELECT and the second behind FROM

# so sql_select('*', 'drivers') make SELECT * FROM drivers
#still need to try this, get it working

**Video #4**
* https://www.youtube.com/watch?v=xIJeUPAT8zE
* Order by and Limit Statements

In [49]:
s_qryV4 = sql_select( sl=['nationality', 'COUNT(driverId) as cnt'],
                    fr='drivers',
                    gb='nationality')

In [50]:
print(s_qryV4)

SELECT nationality, COUNT(driverId) as cnt FROM drivers GROUP BY nationality

In [62]:
# Add an order by statement
# specify the field to order by in the attribute parameter and set Descending by calling asc as false
s_qryV4.order_by(attr='cnt', asc=False)
print(s_qryV4)

SELECT nationality, COUNT(driverId) as cnt FROM drivers GROUP BY nationality ORDER BY cnt DESC

In [63]:
# get the results
data = pd.read_sql_query(str(s_qryV4), con=engine)

In [64]:
# so here we're grouping on count of driver nationalality
data.head()
# there are 164 Brits, 157 Americans, etc...

  nationality  cnt
0     British  164
1    American  157
2     Italian   99
3      French   73
4      German   49

In [79]:
# Add a limit statement
s_qryV4.limit(3)
print(s_qryV4)

SELECT nationality, COUNT(driverId) as cnt FROM drivers GROUP BY nationality ORDER BY cnt DESC LIMIT 3

In [81]:
# so now because of the limit we only get back 3, even if we try to pull 10 rows back in the head function
data = pd.read_sql_query(str(s_qryV4), con=engine)
data.head(10)

  nationality  cnt
0     British  164
1    American  157
2     Italian   99

In [ ]:
# you can also just add an lm parameter in the select statement, like this:
s_qryV4 = sql_select( sl=['nationality', 'COUNT(driverId) as cnt'],
                    fr='drivers',
                    gb='nationality',
                    lm=20)

In [82]:
# clear the ORDER By and Limit statements
s_qryV4.order_by(clear=True)
s_qryV4.limit(clear=True)
print(s_qryV4)

SELECT nationality, COUNT(driverId) as cnt FROM drivers GROUP BY nationality

**Video #5**
* Nested Queries
* https://www.youtube.com/watch?v=WA_a7Rs85Bs&

In [99]:
# create a query object that will create a table w 2 fields, nat and count
nest2 = sql_select(['nationality as nat', 'COUNT(driverId) as count'], 'drivers', gb='nationality')
print(nest)

SELECT nationality as nat, COUNT(driverId) as count FROM drivers WHERE racdId = 1012 GROUP BY nationality

In [106]:
# use this query as argument for the fr parameter
s_qryV5 = sql_select(sl=['nat', 'count'], fr=nest)

In [107]:
print(s_qryV5)

SELECT nat, count FROM (SELECT nationality as nat, COUNT(driverId) as count FROM drivers WHERE racdId = 1012 GROUP BY nationality)

In [113]:
# nest a sql_select object into the WHERE statement
# Create a query object returning driver IDs that part'd in the 1000th official F1 GB in China
nest3 = sql_select('driverId', 'results')
nest3.where(attr='raceId', cond=1012)

In [114]:
data = pd.read_sql_query(str(nest3), con=engine)
print(f"{len(data)} drivers were in the 2019 Chinese GP")

20 drivers were in the 2019 Chinese GP

In [115]:
# then use this query result to find add'l driver info
s_qryV5 = sql_select(['forename', 'surname', 'nationality'], 'drivers')
s_qryV5.where(attr='driverid', cond=nest3)
s_qryV5.order_by(attr='surname')

In [116]:
print(s_qryV5)

SELECT forename, surname, nationality FROM drivers WHERE driverid IN (SELECT driverId FROM results WHERE raceId = 1012) ORDER BY surname ASC

In [117]:
data5 = pd.read_sql_query(str(s_qryV5), con=engine)
data5.head()

    forename     surname nationality
0  Alexander       Albon        Thai
1   Valtteri      Bottas     Finnish
2     Pierre       Gasly      French
3    Antonio  Giovinazzi     Italian
4     Romain    Grosjean      French

**Video #6**
* Joining Tables
* https://www.youtube.com/watch?v=thEO3eDli3U

In [131]:
# get 2019 Chinese Grand Prix results, from the RESULTS table
s_qry_results = sql_select(['driverId', 'position', 'time'], fr='results')
s_qry_results.where(attr='raceId', cond=1012)
s_qry_results.order_by(attr='position')
print(s_qry_results)

SELECT driverId, position, time FROM results WHERE raceId = 1012 ORDER BY position ASC

In [135]:
data = pd.read_sql_query(str(s_qry_results), con=engine)
data.head()

   driverId position         time
0         1        1  1:32:06.350
1       822        2       +6.552
2        20        3      +13.774
3       830        4      +27.627
4       844        5      +31.276

In [137]:
# let's add more driver details from the DRIVER table
# create a drivers object
s_qry_drivers = sql_select(['driverId', 'forename', 'surname', 'nationality'], 'drivers')
print(s_qry_drivers)

SELECT driverId, forename, surname, nationality FROM drivers

In [139]:
data = pd.read_sql_query(str(s_qry_drivers), con=engine)
data.head()

   driverId  forename     surname nationality
0         1     Lewis    Hamilton     British
1         2      Nick    Heidfeld      German
2         3      Nico     Rosberg      German
3         4  Fernando      Alonso     Spanish
4         5    Heikki  Kovalainen     Finnish

In [142]:
s_qry_results.join(s_qry_drivers, how='left', on=('driverId', 'driverId'))
print(s_qry_results)

SELECT ax.driverId, ax.position, ax.time, ba.driverId, ba.forename, ba.surname, ba.nationality FROM results AS ax  LEFT JOIN drivers AS ba ON ax.driverId = ba.driverId WHERE raceId = 1012 ORDER BY position ASC

In [144]:
dataJoinResults = pd.read_sql_query(str(s_qry_results), con=engine)
dataJoinResults.head()

   driverId position         time  driverId   forename     surname nationality
0         1        1  1:32:06.350         1      Lewis    Hamilton     British
1       822        2       +6.552       822   Valtteri      Bottas     Finnish
2        20        3      +13.774        20  Sebastian      Vettel      German
3       830        4      +27.627       830        Max  Verstappen       Dutch
4       844        5      +31.276       844    Charles     Leclerc  Monegasque

**Video #7**
* Update
* https://www.youtube.com/watch?v=wBS8xxzI3Bs

In [155]:
# Update, set and where statements
# first, pull in the update module
from sql_query import sql_update
s_qry_driversUpdate = sql_select(['forename', 'surname', 'code'], 'drivers')
s_qry_driversUpdate.where(attr='driverId', cond=830)

In [156]:
print(s_qry_driversUpdate)

SELECT forename, surname, code FROM drivers WHERE driverId = 830

In [157]:
dataUpdate = pd.read_sql_query(str(s_qry_driversUpdate), con=engine)
dataUpdate.head()

  forename     surname code
0      Max  Verstappen  VER

In [177]:
# so this bit is wrong, let's fix it
# you must include the 'up' parameter
u_qry = sql_update(up='drivers')
u_qry.set_(attr='code', val='VER')

In [178]:
# you can use the where, but just set this in the u_qry bit like this, but didn't work on the first pass
# u_qry = sql_update(up='drivers', wh=dataUpdate.wh)



u_qry.where(attr='driverId', cond=830)
print(u_qry)

UPDATE drivers SET code = "VER"  WHERE driverId = 830

In [179]:
from sqlalchemy.sql import text

In [180]:
 with engine.connect() as con :
        con.execute(text(str(u_qry)))
  # don't forget to import txt!

In [181]:
dataUpdate2 = pd.read_sql_query(str(s_qry_driversUpdate), con=engine)
dataUpdate2.head()

  forename     surname code
0      Max  Verstappen  VER